*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.modal_container{
    background: hsla(0, 23%, 97%, 0.932);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top:0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}
.modal_container.show{
    pointer-events: auto;
    opacity: 1;
}
.modal{
    background: #fff;
    width: 600px;
    max-width: 100%;
    text-align: center;
    padding: 20px 30px;
}